<h3>詳細ページ</h3>
<div class="posted-content">
  <%= image_tag @post.image %>
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <td><%= @post.text%></td>
      </tr>
     
     <%#postに紐づくタグが存在している時のみ、タグ名を表示するよう記述%>
      <tr>
        <th>タグ</th>
      <%#>  <td><%= @post.tags.first.tag_name if @post.tags.first.present? %>  
       <td><%= @post.tags&.first&.tag_name %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to '編集', edit_post_path(@post.id)%>
</div>